@media screen and (max-width: 600px){

    .background-img {
        width: 100%;
        height: 100vh;
        background-image: -webkit-image-set(
            url("/assets/img/pogs.webp") type("image/webp"),
            url("/assets/img/PetrineogSuzie.jpg") type("image/jpg")
        );
        background-image: image-set(
            url("/assets/img/pogs.webp") type("image/webp"),
            url("/assets/img/PetrineogSuzie.jpg") type("image/jpg")
        );
        background-repeat: no-repeat;
        background-position: 45% 50%;
        background-size: cover;
        background-attachment: fixed;
    }

    .card {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        /* height: 200px; */
        padding: 32px 24px;
        /* background: var(--hsla-base); */
        background: linear-gradient(
            to bottom,
            var(--hsla-base) 0%,
            var(--color-base) 100%
        );
        color: var(--color-text);
    }
    .card .name {
        padding-bottom: 0;
        font-size: 24px;
        font-weight: 400;
    }
    .card .title {
        padding-bottom: 6px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .card .email {
        text-decoration: none;
        color: var(--color-subtext1);
    }
    .card .about {
        padding-top: 12px;
    }
    .skills-wrapper {
        margin: 0;
        padding: 12px 24px 32px 24px;
        background: var(--color-base);
    }
    .skills-title {
        padding-bottom: 3px;
        font-size: 20px;
        font-weight: 400;
        color: var(--color-text);
    }
    
}
